button {
    transition: all 0.15s ease-in-out;
    border-color: #d5005a;
    box-shadow: none;
    min-height: 40px;
    min-width: 80px;
    background-color: #d5005a;
    color: #272D2D;
    font-weight: 500;
    border-style: solid;
    cursor: pointer;
    transition: outline 0s;
    border-radius: 10px;
}

button:hover {
    background-color: #aa0048;
    border-color: #aa0048;
}

button:after {
    background-color: #aa0048;
    border-color: #aa0048;
}

button:active {
    outline: solid;
    outline-color: #7f0036;
}